@font-face {
  font-family: "Maax";
  src: url("~/assets/fonts/Maax.woff") format("woff");
}

@font-face {
  font-family: "UntitledSans";
  src: url("~/assets/fonts/Untitled_Sans/UntitledSans-Regular.woff2")
      format("woff2"),
    url("~/assets/fonts/Untitled_Sans/UntitledSans-RegularItalic.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UntitledSans";
  src: url("~/assets/fonts/Untitled_Sans/UntitledSans-Medium.woff2")
      format("woff2"),
    url("~/assets/fonts/Untitled_Sans/UntitledSans-MediumItalic.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "UntitledSans";
  src: url("~/assets/fonts/Untitled_Sans/UntitledSans-Bold.woff2")
      format("woff2"),
    url("~/assets/fonts/Untitled_Sans/UntitledSans-BoldItalic.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "UntitledSans";
  src: url("~/assets/fonts/Untitled_Sans/UntitledSans-Light.woff2")
      format("woff2"),
    url("~/assets/fonts/Untitled_Sans/UntitledSans-LightItalic.woff2")
      format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "UntitledSans";
  src: url("~/assets/fonts/Untitled_Sans/UntitledSans-Black.woff2")
      format("woff2"),
    url("~/assets/fonts/Untitled_Sans/UntitledSans-BlackItalic.woff2")
      format("woff2");
  font-weight: 900;
  font-style: normal;
}
